.tabcontent{
    display: none;
}
.formulario_m ,#disp_p ,#disp_i, #disp_t ,#alert_transacciones,#registro_cobros{
    display: none;
}
body
{
    background-color: rgb(27, 25, 25);
    color: whitesmoke;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
}
h1
{
    background-color: rgb(14, 12, 19);
    font-size: 60px;
    margin:0;
    padding: 0;
}
/*estilo de las tabs*/
.tabs
{
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.tabs button 
{
    font-size: 20px;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tabs button:hover {
    background-color: #ddd;
}
.tabs button.active {
    background-color: #ccc;
}
/*termina estilo de las tabs*/
.btn-group{
    float: right;
}

h2
{
    margin-bottom: 0px;
    font-size: 30px;
}
input
{
    border-radius: 5%;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#combo ,#combo_i ,#combo_p
{
    margin-top: 10px;
}
#buscador ,#buscador_i ,#buscador_p
{
    margin-top: 10px;
}
.formulario
{
    margin: auto;
    background: black;
    border-radius: 5px;
}
.query
{
    background:white;
    color: black;
    margin-top: 0;
}
form
{
    margin-left: 40px;
}
table{
    font-size: 12px;
    font-family: Arial;
}
#registro_cobros{
    background-color: black;
}
#error{
    color: red;
}
.tabs2 button
{
    font-size: 20px;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tabs2 button:hover
{
    background-color: #ddd;
}
.tabs2 button.active
{
    background-color: #ccc;
}
.boton_
{
    margin-left: 40px ;
}
