body
{
    background: whitesmoke;
    color: black;
    margin:0;
    padding: 0;
}
h1
{
    background: rgb(47, 3, 151);
    font-size: 100px;
    margin:0;
    padding: 0;

}
/*estilo de las tabs*/
.tabs
{
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;

}
.tabs button 
{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.tabs button:hover {
    background-color: #ddd;
}


.tabs button.active {
    background-color: #ccc;
}
/*termina estilo de las tabs*/